<mat-card>
    <mat-card-header>
        <mat-card-title>{{(ss.subject$ | async).name}}</mat-card-title>
        <mat-card-subtitle>{{(ss.subject$ | async).code}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="desc">
            <h3>Leírás:</h3>
            {{(ss.subject$ | async).description}}
        </div>
        <table>
            <tr>
                <td>kredit érték:</td>
                <td>{{(ss.subject$ | async).credit}}</td>
            </tr>
            <tr>
                <td>Terem:</td>
                <td>{{(ss.subject$ | async).room}}</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>Értékelés</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-action-list>
            <div style="width: 100%; margin: 15px;">Név<span style="float: right;">Jegy</span></div>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10]">Tanuló {{i}}<span style="margin-left: auto;">jegy</span></mat-list-item>
        </mat-action-list>
    </mat-card-content>
</mat-card>