<mat-card>
    <mat-card-header>
        <mat-card-title>{{(ss.subject$ | async)!.name}}</mat-card-title>
        <mat-card-subtitle>Kód:<span>{{(ss.subject$ | async)!.code}}</span></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="desc">
            <h3>Leírás:</h3>
            {{(ss.subject$ | async)!.description}}
        </div>
        <table>
            <tr>
                <td>kredit érték:</td>
                <td>{{(ss.subject$ | async)!.credit}}</td>
            </tr>
            <tr>
                <td>Terem:</td>
                <td>{{(ss.subject$ | async)!.room}}</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>Értékelés</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table>
            <tr>
                <th>Név</th><th colspan="2">Jegy</th>
            </tr>
            <tr *ngFor="let i of (rs.results$ | async)">
                <td>{{i.uid.name}}</td><td>{{i.mark}}</td><td><button mat-icon-button (click)="openRating(); rs.rid.next(i.id)"><mat-icon>edit</mat-icon></button></td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>