<div *ngIf="(userRole$ | async)">
<h2>Új tárgy létrehozása</h2>
<form [formGroup]="addSubjectForm" (ngSubmit)="addSubject(addSubjectForm)" style="margin-top: 15px;">

    <mat-form-field appearance="legacy" color="accent">
        <mat-label>Tárgy neve</mat-label>
        <input matInput type="text" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="legacy" color="accent">
        <mat-label>Tárgy azonosítója</mat-label>
        <input matInput type="number" formControlName="code">
    </mat-form-field>

    <mat-form-field appearance="legacy" color="accent">
        <mat-label>Tárgy leírása</mat-label>
        <input matInput type="text" formControlName="description">
    </mat-form-field>

    <mat-form-field appearance="legacy" color="accent">
        <mat-label>Kredit</mat-label>
        <input matInput type="number" formControlName="credit">
    </mat-form-field>

    <button mat-raised-button color="accent" style="float: right;">Létrehozás</button>

</form>
</div>