<!--<div *ngIf="(isLoggedIn$ | async)">-->
<div class="accordion-wrapper">
    <h1>Tárgyak</h1>
    <!-- <mat-accordion multi> -->
    <mat-accordion>
        <mat-expansion-panel *ngFor="let subject of (ss.subjects$ | async)">
            <mat-expansion-panel-header>
                <mat-panel-title class="card-title">
                    {{ subject.name }}#{{subject.id}}
                </mat-panel-title>
                <mat-panel-description class="grid-container">
                    <div>{{subject.description.length > 20 ? subject.description.slice(0, 20) + "..." :
                        subject.description}}</div>
                    <div>{{ subject.room }}</div>
                </mat-panel-description>
            </mat-expansion-panel-header>
            {{ subject.code }}<br>
            {{ subject.credit }}<br>
            <div style="text-align: justify;">{{ subject.description }}</div>
            <mat-action-row *ngIf="(userRole$ | async)">
                <button mat-button color="basic" routerLink="/subjects/{{subject.id}}"
                    [disabled]="!(userRole$ | async)">Értékelés</button>
                <button mat-button color="basic" (click)="openModifySubject(subject.id);"
                    [disabled]="!(userRole$ | async)">Módosítás</button>
                <button mat-button color="warn" (click)="deleteSubject(subject.id)"
                    [disabled]="!(userRole$ | async)">Törlés</button>
            </mat-action-row>
            <mat-action-row *ngIf="!(userRole$ | async)">
                <button mat-button color="basic" (click)="signUpToSubject(subject.id)">Felvesz</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<button mat-mini-fab [style]="!(userRole$ | async) ? 'display: none' : ''" color="accent" class="add-button" (click)="openAddSubject()" matTooltip="Új tárgy felvétele"
    [disabled]="!(userRole$ | async)">
    <mat-icon>add</mat-icon>
</button>
<!--</div>-->