.add-button {
	margin: 0;
	padding: 0;
	position: fixed;
	right: 50px;
	bottom: 100px;
}

// .subject {
//     margin: 30px 0 0 0;
// }

.accordion-wrapper {
    max-width: 1000px;
    margin: 16px auto;
    // position: absolute;
    // left: 500px;
    // top: 40px;
}

div.expansion-panel-wrapper {
    margin: 10px auto 10px auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: start;
    align-content: space-between;
}

.card-title {
    width: 33%;
    max-width: 33%;
}

.small {
    color: rgb(145, 141, 141);
    padding-left: 10px;
}

.values {
    padding-left: 30px;
}