<!--<div *ngIf="(isLoggedIn$ | async)">-->
<div class="accordion-wrapper">
    <!-- <mat-accordion multi> -->
    <mat-accordion>
        <mat-expansion-panel *ngFor="let subject of (ss.subjects$ | async)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    #{{ subject.name }}
                </mat-panel-title>
                <mat-panel-description>
                    {{ subject.description.length > 20 ? subject.description.slice(0, 20) + "..." : subject.description
                    }}
                </mat-panel-description>
                <mat-panel-description>
                    {{ subject.room }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            {{ subject.code }}<br>
            {{ subject.credit }}<br>
            <div style="text-align: justify;">{{ subject.description }}</div>
            <mat-action-row>
                <button mat-button color="basic" (click)="openModifySubject(subject.id)"
                    [disabled]="!(userRole$ | async)">Módosítás</button>
                <button mat-button color="warn" (click)="deleteSubject(subject.id)"
                    [disabled]="!(userRole$ | async)">Törlés</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<button mat-mini-fab color="accent" class="add-button" (click)="openAddSubject()" matTooltip="Új tárgy felvétele"
    [disabled]="!(userRole$ | async)">
    <mat-icon>add</mat-icon>
</button>
<!--</div>-->