<!--<div *ngIf="(isLoggedIn$ | async)">-->
<div class="accordion-wrapper">
    <h1>Felvett tárgyak</h1>
    <!-- <mat-accordion multi> -->
    <mat-accordion>
        <mat-expansion-panel *ngFor="let subject of (us.subjects$ | async)">
            <mat-expansion-panel-header>
                <mat-panel-title class="card-title">
                    {{ subject.name }}
                    <small class="small">#{{subject.id}}</small>
                </mat-panel-title>
                <mat-panel-description class="grid-container">
                    <div class="values">kredit: {{ subject.credit }}</div>
                    <!--<div>{{subject.description.length > 20 ? subject.description.slice(0, 20) + "..." :
                        subject.description}}</div>-->
                    <div class="values">helyszín: {{ subject.room }}</div>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div style="text-align: justify; padding-left: 10px;">{{ subject.description }}</div>
            <mat-action-row>
                <button mat-button color="warn" (click)="deleteSubject(subject.id)">Leadás</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>