<div class="grid" *ngIf="router.url !== '/404'; else notfound">
    <mat-toolbar class="header" color="accent">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Mini Neptun</span>
    </mat-toolbar>
    <mat-sidenav-container class="content">
        <mat-sidenav #sidenav mode="over">
            <mat-nav-list>
                <mat-list-item routerLink="/" (click)="sidenav.toggle(); setTitle('Főoldal')">Főoldal</mat-list-item>
                <mat-list-item *ngIf="(isLoggedIn$ | async)" routerLink="/subjects" (click)="sidenav.toggle(); setTitle('Tárgyak')">Tárgyak</mat-list-item>
                <mat-list-item *ngIf="(isLoggedIn$ | async)" routerLink="/subjects" (click)="sidenav.toggle(); setTitle('Tárgyak')" disabled>Tárgyaim</mat-list-item>
                <mat-list-item *ngIf="(isLoggedIn$ | async)" routerLink="/subjects" (click)="sidenav.toggle(); setTitle('Tárgyak')" disabled>Felvett tárgyak</mat-list-item>
                <mat-list-item *ngIf="(isLoggedIn$ | async)" routerLink="/subjects" (click)="sidenav.toggle(); setTitle('Tárgyak')" disabled>Tárgyfelvétel</mat-list-item>
                <mat-list-item *ngIf="(isLoggedIn$ | async)" routerLink="/user" (click)="sidenav.toggle(); setTitle('Felhasználó')">Felhasználó</mat-list-item>
                <!--<mat-list-item routerLink="/auth" (click)="sidenav.toggle(); setTitle('Bejelentkezés')">Bejelentkezés</mat-list-item>-->
                <mat-list-item *ngIf="(isLoggedIn$ | async)" color="warn" (click)="logout(); sidenav.toggle() ">Kijelentkezés</mat-list-item>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<ng-template #notfound>
    <router-outlet></router-outlet>
</ng-template>
