.grid{
    display: grid;
    grid-template-rows: min-content auto;
    height: 100%;
    grid-template-areas: 'header' 'content';
}

.header{
    grid-area: header;
}
.mat-sidenav {
    width: 250px;
}

.content{
    grid-area: content;
}
